<div class="container">
  <mat-card-title>Sign up</mat-card-title>
  <mat-card>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>


      <mat-form-field>
        <mat-label>GitHub Link</mat-label>
        <input matInput formControlName="githubLink" />
      </mat-form-field>
      <mat-checkbox formControlName="isPublic">Make Profile Public</mat-checkbox>

      <footer class="forgot-password">
        <button disabled="{{ loading$ | async }}" mat-flat-button color="primary" class="full-width">Submit</button>
      </footer>
    </form>
  </mat-card>
  <p>Already have an Account? <a routerLink="../signin">Login</a></p>
</div>
