<div class="container">
  <mat-card-title>Forgot Password</mat-card-title>
  <mat-card>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email address</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Enter email" />
      </mat-form-field>

      <footer class="forgot-password">
        <a routerLink="../signin">Back to Login?</a>
        <button disabled="{{ loading$ | async }}" mat-flat-button color="primary" class="full-width">Submit</button>
      </footer>
    </form>
  </mat-card>
  <p>Don't have an Account? <a routerLink="../signup">Sign up</a></p>
</div>
