<div class="container">
  <mat-card-title>Reset Password</mat-card-title>
  <mat-card>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword" type="password" placeholder="Enter new password" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm new password" />
      </mat-form-field>

      <footer class="forgot-password">
        <a routerLink="../signin">Cancel</a>
        <button disabled="{{loading$ | async}}" mat-raised-button color="primary" class="full-width">Reset
          Password</button>
      </footer>
    </form>
  </mat-card>
</div>
